* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "poppins-bold";
  src: url(Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "open_sans";
  src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
  font-weight: 400;
}

header {
  background-color: hsl(193, 100%, 96%);
  background-image: url("C:/Users/Kieni/Documents/GitHub/Responsive Landing Page/images/bg-hero-desktop.svg");
  margin: 0px;
  overflow:hidden;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 100%;
  padding-top:40px;
  padding-left: 40px;
  
}

.headersvg {
  width: 20%;
  height: 0;
  padding-top: 10%;
  padding-left: 10%;
  position: relative;
}

.headerlogo {
  position: absolute;
  top: 0;
  left: 0;
  animation-name:headerlogo;
  animation-duration: 3s;
  animation-iteration-count: 4;
  animation-direction:alternate-reverse;

}

@keyframes headerlogo{
  from{transform: rotateY(0deg);}
  to{transform:rotateY(150deg);}

}

.headerbuttondiv{
  width: 80%;
  height: 0;
  padding-top: 7%;
  padding-left: 2%;
  position: relative;
}

#headerbutton {
  display:flex;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  border: none;
  font-family: "open_sans";
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  padding:10px 40px;
  position:absolute;
  top:0;
  left:80%;
  transition: width 2s ease-in-out;
}
#headerbutton:hover{
  background-color: rgb(231, 207, 174);
  width: 15%;
}

.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.headerinfo {
  display:flex;
  flex-direction: column;
  width: 40%;
  padding: 20px 30px;
  
}
.image1 {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  padding:10%;
}


h2 {
  margin: 15px 15px 5px 15px;
  padding: 5px;
}
.firstp {
  margin: 15px;
  font-family: "open_sans";
  width: 90%;
  padding:5px;
}
.introbutton{
  margin: 30px;
  padding: 15px;
  border: none;
  border-radius: 22px;
  background-color: hsl(322, 100%, 66%);
  cursor: pointer;
  font-family: "open_sans";
  width: 40%;
  transition: width 2s;
}
.introbutton:hover, .lastbutton:hover {
  background-color: hsl(322, 81%, 80%);
  width: 60%;
}
.mockupimage {
  max-width: 100%;
  height: auto;
  flex: 100%;
}

h2,
h3 {
  font-family: "poppins-bold";
  font-weight: 700;
}

p {
  font-family: "open_sans";
}

.row3 {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 60px 5px 60px;
  padding: 15px;
  border: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgb(199, 198, 198);
  justify-content: center;
  align-items: center;
}
.row3text {
  width: 50%;
}

.firsth3 {
  margin: 35px 35px 5px 35px;
  padding: 10px 10px 2px 10px;
}
.secondp {
  font-family: "open_sans";
  margin: 5px 35px 35px 35px;
  font-family: "open_sans";
  width: 90%;
  padding: 2px 10px 10px 10px;
}
.row3img {
  width: 40%;
}
.growtogether {
  width: 100%;
  height: auto;
}

.row4 {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 60px 5px 60px;
  padding: 15px;
  border: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgb(199, 198, 198);
  justify-content: center;
  align-items: center;
}
.row4text {
  width: 40%;
}

.secondh3 {
  margin: 35px 35px 5px 35px;
  padding: 10px 10px 2px 10px;
}
.thirdp {
  font-family: "open_sans";
  margin: 5px 35px 35px 35px;
  font-family: "open_sans";
  width: 90%;
  padding: 2px 10px 10px 10px;
}
.row4img {
  width: 40%;
}
.flowingconversations {
  width: 100%;
  height: auto;
}

.row5info {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 60px 300px 60px;
  padding: 15px;
  border: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgb(199, 198, 198);
  justify-content: center;
  align-items: center;}


.row5text {
  width: 40%;
}

.thirdh3 {
  
  margin: 35px 35px 5px 35px;
  padding: 10px 10px 2px 10px;
}
.fourthp {
  
  font-family: "open_sans";
  margin: 5px 35px 35px 35px;
  font-family: "open_sans";
  width: 90%;
  padding: 2px 10px 10px 10px;
}
.row5img {
  width: 40%;
}
.yourusers {
  
  width: 100%;
  height: auto;
}

.separator{
  position:absolute;
  top: 0;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 15px;
  border: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgb(199, 198, 198);
  justify-content: center;
  align-items: center;
width:50%}

.lasth3{
  padding:15px 30px 0px 30px;
  color: black;
}

  .lastbutton {
    margin: 30px;
    padding: 15px;
    border: none;
    border-radius: 22px;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
    font-family: "open_sans";
    transition: width 2s;
    }

footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding:20px;
  position: relative;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footerinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    margin-top: 100px;
  margin-bottom: 20px;
  align-items: center;
}
.col1{
  display: flex;
  flex-direction: column;
  padding:50px;
  
  
   }
  .col2, .col3 {
  display: flex;
  flex-direction: column;
  padding:50px;
  
}


.footerrow1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:10px;
  align-items: center;
}

.footerrow2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:5px;
  align-items: center;
}
.footerrow3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:5px;
  align-items: center;
}
.location, .phonenumber, .email{vertical-align: top;
  padding:20px;
}

.col4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:20px;
}
.facebook, .twitter, .instagram{
    margin:10px;
}

.copyrightdiv{
  display: flex;
  flex-direction: row;
  text-align: right;
  position:absolute;
  left:80%;
  bottom:5%;
}
.copyright{
  font-size: 10px;
}